@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

// colors
$white: #fff;
$light-gray: rgba(0,0,0,.10);
$dark-gray: rgba(0,0,0,.5);
$green: #72B01D;

$clr-accent: $green;

$clr-body: $dark-gray;
$clr-heading: $clr-accent;

// typography
$ff: 'Raleway', sans-serif;

$fw-l: 300;
$fw-n: 400;
$fw-b: 700;

$fs-h2: (48 / 16) * 1rem;
$fs-body: (24 / 16) * 1rem;

$fs-xl: (72 / 16) * 1rem;
$fs-sm: (16 / 16) * 1rem;

$ls: 5px;

// helpers
$spacer: 1rem;
$bs: 0 0 $spacer $light-gray;


// General Styles
* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: $ff;
  font-size: $fs-body;
  color: $clr-body;
}

h2 {
  font-size: $fs-h2;
  color: $clr-heading;
  letter-spacing: $ls;
  text-transform: uppercase;
}


// Buttons
.button {
  display: inline-block;
  padding: ($spacer * 1.5) ($spacer * 2.5);
  background: $dark-gray;
  text: {
    transform: uppercase;
    decoration: none;
  }
  font-weight: $fw-b;
  font-size: $fs-sm;
  color: $white;
  letter-spacing: $ls;
  transition: all .2s ease-out;

  &:hover {
    box-shadow: $bs;
    background: $clr-accent;
    transform: scale(1.22);
  }

  &--accent {
    background: $white;
    color: $clr-accent;

    &:hover {
      background: $dark-gray;
      color: $white;
    }
  }
}
